#menu {
  width: 920px;
  height: 70px;
  font-size: 20px;
  font-family: Trebuchet MS;
  font-weight: bold;
  background-color: #558C89;
  border-radius: 10px;
  border-style: solid;
  border-color:#000000;
  text-align:center;
  position: absolute;
  right: 1%;
  top: 5%;
}


#menu ul {
  height: auto;
  padding: 5px 8px 8px 8px;
}
#menu li {
  display: inline;
  padding: 25px;
}

#icons {
 width: 600px;
  height: 70px;
  font-size: 20px;
  font-family: Trebuchet MS;
  font-weight: bold;
  background-color: #558C89;
  border-radius: 10px;
  border-style: solid;
  border-color:#000000;
  text-align:center;
  position: absolute;
  bottom: 30%;
  left:28%;
}


#icons ul {
  height: auto;
  padding: 12px 8px 8px 8px;
  margin: 2px;
}
#icons li {
  display: inline;
  padding: 25px;
}

a {
    color: #558C89;
    text-decoration:none;
}

a:hover
{
     color:#74AFAD;
     text-decoration:none;
     cursor:pointer;
     }

#Heading{
  margin-top:175px;
   margin-bottom:5px;
  font-family:Palatino Linotype;
  font-size:50px;
  text-align:center;
  color:#558C89;

}

.date{
  font-family:Palatino Linotype;
  font-size:28px;
  font-style:italic;
  text-align:center;
  color:#D9853B;

}

#Date{
  font-family:Palatino Linotype;
  font-size:25px;
  font-style:italic;
  text-align:center;
  color:#000000;

}

#HeadingIndexPage{
  margin-top:300px;
   margin-bottom:5px;
  font-family:Palatino Linotype;
  font-size:50px;
  text-align:center;
  color:#558C89;

}

p {
  font-family:Trebuchet MS;
  font-size:20px;
  text-align:justify;
  line-height: 150%;
  }

body {
    background-image: url('Logo.png');
    background-repeat: no-repeat;
    background-attachment: absolute;
    }

.line_break{
  height:4px;
  width:100%;
  background-color:#74AFAD;
  top:20%;
  position:absolute;
}

#blogs{
  padding-right:65px;
  padding-left:50px;
  border-style: solid;
  border-radius:60px;
  border-color:#74AFAD;
  position:relative;
  width:40%;
  right:20%;
  left:24%;
  top: 32%;
  font-size: 40px;
  text-align: center;
list-style-position:inside;
  /*background-color:#ECECEA;*/
  font-family:Palatino Linotype;
  border-width: 10px;
  }

  #blogs ol{
  text-align:center;
  }

A.menubar {color:#FFFFFF;
}
A.menubar:hover {color: #74AFAD;
}




  #title{
    text-align:center;
    font-size: 25px;
    position:relative;
    right:21%;
  }


h5{
  margin:0;
}



ul
{
  font-family:Trebuchet MS;
  font-size:20px;
  text-align:left;
  line-height: 150%;
  text-align: justify;
  }


h5 {
  clear: both;
}

img{
  border-style: solid;
  border-color:#558C89;
  text-align: center;
}

#smallquote{
  text-align: center;
}